<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f5e5e3">  <td>18/09/01 11:13:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_EditLead.createLead(java.lang.String, java.lang.String)[pri:0, instance:tests.TC002_EditLead@1c6f14e]">createLead</td> 
  <td>main@7377811</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/09/01 11:13:36</td>   <td>-1345</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC002_EditLead.setData()[pri:0, instance:tests.TC002_EditLead@1c6f14e]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7377811</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/09/01 11:13:36</td>   <td>-2017</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:tests.TC002_EditLead@1c6f14e]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7377811</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/09/01 11:13:38</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:tests.TC002_EditLead@1c6f14e]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@7377811</td>   <td></td> </tr>
</table>
